
p.jeden {
		font-size: small;
		font-family: Serif;
		font-weight: bold;
		font-stretch: condensed;
		text-decoration: underline;} /* œciskanie i rozci?ganie liter */

p.dwa {
		font-size: medium;
		font-family: Sans-serif;
		font-style: italic;
		font-weight:bolder;
		font-stretch: expanded;} 

p.trzy {
		font-size: x-large;
		font-family: monospace;
		font-style: oblique;
		font-weight: 450;}

p.cztery {
		font-size:20px;   /* stosujemy równie? punkty pt milimetry mm i procenty */
		font-family: bebas, src: url(bebas.ttf), fanstasy;  /* dajemy kilka czcionek do wyboru, jak nietypowa to wrzucamy na serwer */
		font-weight: 900; }

h3 {
font-variant: small-caps;} /* zmienia wielkoœ? liter tak jak by na drukowane */

p.piec {
		font: 12pt Tahoma 300;
		font: italic small-caps bold 15pt; /* skrót od font-coœ, kolejnoœ? wprowadzania nie ma znaczenia */
		font: caption;
		/* caption - przyciski rozwijane, icon - etykiety ikon, menu - menu, messagebox - okna dialogowe, small-caps zmienia wielkoœ? liter jak by na drukowane, status-bar pasek statusu */